.featured-work-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 16rem), 1fr));
  grid-gap: 0.5rem;

  .featured-work {
    position: relative;

    .featured-work-image {
      transition: opacity 0.3s ease-out;
      will-change: opacity;
    }

    &:hover .featured-work-image {
      opacity: 0;
    }
  }
}

@include mobile {
  .featured-work-container {
    --auto-grid-min-size: 350px;
  }
}
