footer {
  padding: 15px;

  .social-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 10px;

    a,
    a:link,
    a:hover,
    a:active {
      color: $grey;
      font-size: 1.5rem;
      opacity: 0.6;
      transition: opacity 0.3s;
      will-change: opacity;
    }

    a:hover {
      opacity: 0.9;
    }
  }

  .copyright {
    font-size: 0.75rem;
    text-align: center;
  }
}

@include mobile {
  footer {
    padding: 30px 15px;
  }
}
