@import "reset";
@import "breakpoints";
@import "variables";
@import "preloader";
@import "slider";

body {
  color: $grey;
  padding: 0 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

h5 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.special {
  font-family: Pacifico, cursive;
  font-size: 5rem;
}

.title-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

.section-block {
  min-height: 100vh;
  width: 100%;
}

.introduction-section {
  margin-bottom: 50px;

  .introduction {
    font-size: clamp(2rem, calc(3.6vw - 0.1rem), 3rem);
    margin-bottom: 90px;
  }

  .information {
    .details {
      .detail-section {
        margin-bottom: 10px;

        ul li {
          margin-bottom: 5px;
        }
      }
    }
  }
}

@include mobile {
  .introduction-section {
    .introduction {
      padding: 0 20px;
    }

    .information {
      .details {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;

        .detail-section {
          margin-bottom: 0;
        }
      }
    }
  }
}

@include ipad {
  .introduction-section {
    .introduction {
      padding: 0 50px;
    }
  }
}
