// base
@import "base/reset";
@import "base/breakpoints";
@import "base/variables";
@import "base/typography";
// blocks
@import "blocks/preloader";
@import "blocks/preloader-cube";
@import "blocks/title";
@import "blocks/scroll-arrow";
@import "blocks/introduction";
@import "blocks/featured-work";
@import "blocks/text-link";
@import "blocks/footer";

body {
  &.loading {
    overflow: hidden;
  }
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px 20px;
}

.flow > * + * {
  margin-top: 50px;
}

.section-block {
  min-height: 100vh;
  width: 100%;
}

.display-experiments,
.display-samples {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 600px;
}
