.display-slider {
  padding: 10px 0;

  & > div {
    margin-bottom: 20px;
  }

  img {
    width: 350px;
  }

  img,
  a {
    display: block;
    margin: 0 auto;
  }

  .featured-work {
    min-width: 300px;
    font-size: 1rem;

    a {
      display: block;
      margin-bottom: 10px;
    }

    h5 {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 5px;
    }

    ul li {
      font-size: 0.75rem;
      font-weight: 300;
      margin-bottom: 2px;
    }
  }
}

@include mobile {
  .display-slider {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    max-width: 100vw;
    overflow-x: scroll;

    & > div {
      margin-bottom: 0;
    }

    img {
      width: 250px;
    }

    .featured-work {
      display: flex;
      gap: 10px;
      min-width: 500px;
      font-size: 0.875rem;
    }
  }
}
